.volunteering-map-layout {
  width: 80%;
  display: flex;
  gap: 1rem; /* compacted */
  border-radius: calc(var(--radius-large) - 4px); /* slightly smaller */
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .volunteering-map-layout {
    width: 100%;
    flex-direction: column;
    gap: 1rem; /* compacted */
  }
}

@media (max-width: 768px) {
  .volunteering-map-layout {
    width: 100%;
    gap: .85rem; /* further compacted */
  }
}