.volunteering-map-layout {
  width: 80%;
  display: flex;
  gap: 1.5rem;
  border-radius: 24px;
  overflow: hidden;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .volunteering-map-layout {
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .volunteering-map-layout {
    width: 100%;
    gap: 1.25rem;
  }
}