-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: bd_voluntariado
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `administrador`
--

DROP TABLE IF EXISTS `administrador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `administrador` (
  `id_usuario` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_usuario`),
  CONSTRAINT `FK_87659d6dedf54a83ba290651ebf` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `administrador`
--

LOCK TABLES `administrador` WRITE;
/*!40000 ALTER TABLE `administrador` DISABLE KEYS */;
INSERT INTO `administrador` VALUES (1);
/*!40000 ALTER TABLE `administrador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `id_categoria` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  PRIMARY KEY (`id_categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'Medio Ambiente'),(2,'Social y Comunitario'),(3,'Educaci├│n y Capacitaci├│n'),(4,'Salud y Bienestar'),(5,'Protecci├│n Animal'),(6,'Arte, Cultura y Recreaci├│n'),(7,'Voluntariado Profesional'),(8,'Construcci├│n y Desarrollo Comunitario'),(9,'Voluntariado Digital'),(10,'Emergencias y Gesti├│n del Riesgo'),(11,'Internacional y Derechos Humanos'),(12,'Innovaci├│n, Ciencia y Tecnolog├¡a');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificado`
--

DROP TABLE IF EXISTS `certificado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificado` (
  `id_certificado` bigint unsigned NOT NULL AUTO_INCREMENT,
  `url_pdf` varchar(500) NOT NULL,
  `hash_verificacion` varchar(64) NOT NULL,
  `emitido_en` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `voluntario_id` bigint unsigned NOT NULL,
  `voluntariado_id` bigint unsigned NOT NULL,
  `inscripcion_id` int unsigned NOT NULL,
  PRIMARY KEY (`id_certificado`),
  UNIQUE KEY `IDX_4e57c97b908174e439f2615e01` (`hash_verificacion`),
  UNIQUE KEY `IDX_b903a176df3b32894b5386ff10` (`inscripcion_id`),
  KEY `FK_1f7784ed87b26718712b33bc6ff` (`voluntario_id`),
  KEY `FK_5e28a800e61400e4e3d94b06197` (`voluntariado_id`),
  CONSTRAINT `FK_1f7784ed87b26718712b33bc6ff` FOREIGN KEY (`voluntario_id`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE,
  CONSTRAINT `FK_5e28a800e61400e4e3d94b06197` FOREIGN KEY (`voluntariado_id`) REFERENCES `voluntariado` (`id_voluntariado`) ON DELETE CASCADE,
  CONSTRAINT `FK_b903a176df3b32894b5386ff108` FOREIGN KEY (`inscripcion_id`) REFERENCES `inscripcion` (`id_inscripcion`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificado`
--

LOCK TABLES `certificado` WRITE;
/*!40000 ALTER TABLE `certificado` DISABLE KEYS */;
INSERT INTO `certificado` VALUES (3,'https://res.cloudinary.com/voluntariado/raw/upload/v1763951191/certificados/certificado_1_1763951228297','0a8193b5c900e3132eb27068f28bc9b86512c4f251db76dcfe7b55d3aaab0c6b','2025-11-23 21:27:09',2,12,1),(4,'https://res.cloudinary.com/voluntariado/raw/upload/v1763951205/certificados/certificado_3_1763951242483','281661d25c607f0d1b821236127728ea9f2e55e14bb91ee9abb24f0bd918ace6','2025-11-23 21:27:23',2,14,3);
/*!40000 ALTER TABLE `certificado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ciudad`
--

DROP TABLE IF EXISTS `ciudad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ciudad` (
  `id_ciudad` int unsigned NOT NULL AUTO_INCREMENT,
  `ciudad` varchar(255) NOT NULL,
  `id_departamento` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id_ciudad`),
  KEY `FK_fb585f18d6b8a9fda617c23527f` (`id_departamento`),
  CONSTRAINT `FK_fb585f18d6b8a9fda617c23527f` FOREIGN KEY (`id_departamento`) REFERENCES `departamento` (`id_departamento`)
) ENGINE=InnoDB AUTO_INCREMENT=1105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ciudad`
--

LOCK TABLES `ciudad` WRITE;
/*!40000 ALTER TABLE `ciudad` DISABLE KEYS */;
/*!40000 ALTER TABLE `ciudad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `creador`
--

DROP TABLE IF EXISTS `creador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `creador` (
  `id_usuario` bigint unsigned NOT NULL,
  `tipo_entidad` enum('PUBLICA','PRIVADA','COMUNITARIA') NOT NULL,
  `nombre_entidad` varchar(255) NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `sitio_web` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  CONSTRAINT `FK_3202078f010d1dc6f98fa901a73` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `creador`
--

LOCK TABLES `creador` WRITE;
/*!40000 ALTER TABLE `creador` DISABLE KEYS */;
INSERT INTO `creador` VALUES (6,'COMUNITARIA','Fundaci├│n Vida','Calle 10 #5-20','Apoya comunidades rurales',NULL),(7,'PRIVADA','EcoPlanet','Av. Ambiental 23-45','Cuidado ambiental y reciclaje',NULL),(8,'PUBLICA','Gobernaci├│n Putumayo','Carrera 8 #12-34','Programas sociales y voluntariado',NULL),(9,'PRIVADA','Bombero Mocoa Putumayo','vereda medio afan','dasd',NULL);
/*!40000 ALTER TABLE `creador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departamento`
--

DROP TABLE IF EXISTS `departamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departamento` (
  `id_departamento` int unsigned NOT NULL AUTO_INCREMENT,
  `departamento` varchar(50) NOT NULL,
  PRIMARY KEY (`id_departamento`),
  UNIQUE KEY `IDX_c31590517735dcb688611c9781` (`departamento`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departamento`
--

LOCK TABLES `departamento` WRITE;
/*!40000 ALTER TABLE `departamento` DISABLE KEYS */;
INSERT INTO `departamento` VALUES (1,'Amazonas'),(2,'Antioquia'),(3,'Arauca'),(4,'Atl├íntico'),(5,'Bol├¡var'),(6,'Boyac├í'),(7,'Caldas'),(8,'Caquet├í'),(9,'Casanare'),(10,'Cauca'),(11,'Cesar'),(12,'Choc├│'),(14,'C├│rdoba'),(13,'Cundinamarca'),(15,'Guain├¡a'),(16,'Guaviare'),(17,'Huila'),(18,'La Guajira'),(19,'Magdalena'),(20,'Meta'),(21,'Nari├▒o'),(22,'Norte de Santander'),(23,'Putumayo'),(24,'Quind├¡o'),(25,'Risaralda'),(26,'San Andr├®s y Providencia'),(27,'Santander'),(28,'Sucre'),(29,'Tolima'),(30,'Valle del Cauca'),(31,'Vaup├®s'),(32,'Vichada');
/*!40000 ALTER TABLE `departamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estadisticas_voluntario`
--

DROP TABLE IF EXISTS `estadisticas_voluntario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estadisticas_voluntario` (
  `id_estadistica` bigint unsigned NOT NULL AUTO_INCREMENT,
  `horas_trabajadas` int NOT NULL DEFAULT '0',
  `participaciones` int NOT NULL DEFAULT '0',
  `porcentaje_asistencia` float NOT NULL DEFAULT '0',
  `voluntario_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_estadistica`),
  UNIQUE KEY `REL_cab511d652af0f814918038977` (`voluntario_id`),
  CONSTRAINT `FK_cab511d652af0f814918038977f` FOREIGN KEY (`voluntario_id`) REFERENCES `voluntario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estadisticas_voluntario`
--

LOCK TABLES `estadisticas_voluntario` WRITE;
/*!40000 ALTER TABLE `estadisticas_voluntario` DISABLE KEYS */;
INSERT INTO `estadisticas_voluntario` VALUES (1,7,2,100,2);
/*!40000 ALTER TABLE `estadisticas_voluntario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fotos_voluntariado`
--

DROP TABLE IF EXISTS `fotos_voluntariado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fotos_voluntariado` (
  `id_foto` bigint unsigned NOT NULL AUTO_INCREMENT,
  `url` varchar(500) NOT NULL,
  `voluntariado_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_foto`),
  KEY `FK_20f884241e41c56c8990d8abc45` (`voluntariado_id`),
  CONSTRAINT `FK_20f884241e41c56c8990d8abc45` FOREIGN KEY (`voluntariado_id`) REFERENCES `voluntariado` (`id_voluntariado`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fotos_voluntariado`
--

LOCK TABLES `fotos_voluntariado` WRITE;
/*!40000 ALTER TABLE `fotos_voluntariado` DISABLE KEYS */;
/*!40000 ALTER TABLE `fotos_voluntariado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inscripcion`
--

DROP TABLE IF EXISTS `inscripcion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inscripcion` (
  `id_inscripcion` int unsigned NOT NULL AUTO_INCREMENT,
  `fecha_inscripcion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `estado_inscripcion` enum('PENDIENTE','ACEPTADA','RECHAZADA','CANCELADA','TERMINADA') NOT NULL DEFAULT 'PENDIENTE',
  `asistencia` tinyint DEFAULT NULL,
  `calificado` tinyint DEFAULT NULL,
  `voluntario_id` bigint unsigned NOT NULL,
  `voluntariado_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_inscripcion`),
  KEY `FK_061aa37959761f7444798f31c00` (`voluntario_id`),
  KEY `FK_b6421e168f4961a06e4b780efeb` (`voluntariado_id`),
  CONSTRAINT `FK_061aa37959761f7444798f31c00` FOREIGN KEY (`voluntario_id`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `FK_b6421e168f4961a06e4b780efeb` FOREIGN KEY (`voluntariado_id`) REFERENCES `voluntariado` (`id_voluntariado`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inscripcion`
--

LOCK TABLES `inscripcion` WRITE;
/*!40000 ALTER TABLE `inscripcion` DISABLE KEYS */;
INSERT INTO `inscripcion` VALUES (1,'2025-11-21 10:21:19','TERMINADA',1,1,2,12),(2,'2025-11-22 18:32:47','ACEPTADA',NULL,NULL,2,11),(3,'2025-11-23 21:05:44','TERMINADA',1,1,2,14);
/*!40000 ALTER TABLE `inscripcion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `timestamp` bigint NOT NULL,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
INSERT INTO `migrations` VALUES (1,1700391810393,'SeedDepartamentoCiudad1700391810393'),(2,1720000000000,'SeedCategorias1720000000000'),(3,1731107300000,'SeedUsuariosIniciales1731107300000'),(4,1741107400000,'SeedImagenesUsuarios1741107400000'),(5,1751107500000,'SeedVoluntariadosIniciales1751107500000'),(6,1761107600000,'SeedFotosVoluntariado1761107600000'),(7,1771107800000,'SeedUbicacionesVoluntariados1771107800000'),(8,1781859200000,'CreateCertificadoTable1781859200000');
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificacion`
--

DROP TABLE IF EXISTS `notificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificacion` (
  `id_notificacion` int NOT NULL AUTO_INCREMENT,
  `tipo` enum('INFO','ALERTA','MENSAJE','RECORDATORIO') NOT NULL DEFAULT 'INFO',
  `titulo` varchar(255) NOT NULL,
  `mensaje` text NOT NULL,
  `referencia_id` bigint DEFAULT NULL,
  `url_redireccion` varchar(255) DEFAULT NULL,
  `fecha` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `visto` tinyint NOT NULL DEFAULT '0',
  `estado` enum('ACTIVO','ELIMINADO') NOT NULL DEFAULT 'ACTIVO',
  PRIMARY KEY (`id_notificacion`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificacion`
--

LOCK TABLES `notificacion` WRITE;
/*!40000 ALTER TABLE `notificacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificacion_usuarios_usuario`
--

DROP TABLE IF EXISTS `notificacion_usuarios_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificacion_usuarios_usuario` (
  `notificacionIdNotificacion` int NOT NULL,
  `usuarioIdUsuario` bigint unsigned NOT NULL,
  PRIMARY KEY (`notificacionIdNotificacion`,`usuarioIdUsuario`),
  KEY `IDX_007bb2d9b292c2b28b4108e398` (`notificacionIdNotificacion`),
  KEY `IDX_bad3e6b2f46198570c3f514f28` (`usuarioIdUsuario`),
  CONSTRAINT `FK_007bb2d9b292c2b28b4108e3982` FOREIGN KEY (`notificacionIdNotificacion`) REFERENCES `notificacion` (`id_notificacion`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_bad3e6b2f46198570c3f514f28d` FOREIGN KEY (`usuarioIdUsuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificacion_usuarios_usuario`
--

LOCK TABLES `notificacion_usuarios_usuario` WRITE;
/*!40000 ALTER TABLE `notificacion_usuarios_usuario` DISABLE KEYS */;
INSERT INTO `notificacion_usuarios_usuario` VALUES (1,8),(2,2),(3,2),(4,7),(5,2),(6,9),(7,9),(8,9),(9,9),(10,2),(11,2);
/*!40000 ALTER TABLE `notificacion_usuarios_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resenas_voluntariado`
--

DROP TABLE IF EXISTS `resenas_voluntariado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resenas_voluntariado` (
  `id_resena` bigint unsigned NOT NULL AUTO_INCREMENT,
  `comentario` varchar(500) NOT NULL,
  `calificacion` tinyint unsigned NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `voluntario_id` bigint unsigned DEFAULT NULL,
  `voluntariado_id` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_resena`),
  KEY `FK_e014f3db30a2ed2146a70d372bf` (`voluntario_id`),
  KEY `FK_5f3307464910ad16e362fabdc35` (`voluntariado_id`),
  CONSTRAINT `FK_5f3307464910ad16e362fabdc35` FOREIGN KEY (`voluntariado_id`) REFERENCES `voluntariado` (`id_voluntariado`) ON DELETE CASCADE,
  CONSTRAINT `FK_e014f3db30a2ed2146a70d372bf` FOREIGN KEY (`voluntario_id`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resenas_voluntariado`
--

LOCK TABLES `resenas_voluntariado` WRITE;
/*!40000 ALTER TABLE `resenas_voluntariado` DISABLE KEYS */;
INSERT INTO `resenas_voluntariado` VALUES (1,'el evento estuvo bueno pero diria que pueden mejorar en varios aspectos a la hora de la organizacion del evento',5,'2025-11-21 10:29:11.202311',2,12),(2,'el evento fue muy malo',1,'2025-11-21 10:29:11.202311',2,12),(3,'me gusto demasiado el voluntariado',5,'2025-11-23 21:08:36.180084',2,14);
/*!40000 ALTER TABLE `resenas_voluntariado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `token`
--

DROP TABLE IF EXISTS `token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `token` (
  `id_token` bigint unsigned NOT NULL AUTO_INCREMENT,
  `token` varchar(255) NOT NULL,
  `fecha_creacion` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `fecha_expiracion` datetime NOT NULL,
  `tipo` enum('RECUPERAR_CONTRASENA','CONFIRMAR_CORREO') NOT NULL,
  `estado` enum('ACTIVO','EXPIRADO','USADO') NOT NULL DEFAULT 'ACTIVO',
  `intentos_restantes` int NOT NULL DEFAULT '3',
  `id_usuario` bigint unsigned DEFAULT NULL,
  PRIMARY KEY (`id_token`),
  KEY `FK_255c76b752cba9efa606da50cad` (`id_usuario`),
  CONSTRAINT `FK_255c76b752cba9efa606da50cad` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `token`
--

LOCK TABLES `token` WRITE;
/*!40000 ALTER TABLE `token` DISABLE KEYS */;
INSERT INTO `token` VALUES (1,'3DD8E9','2025-11-23 18:45:03.179029','2025-11-23 23:55:03','RECUPERAR_CONTRASENA','EXPIRADO',3,9),(2,'0B605D','2025-11-23 18:46:07.601715','2025-11-23 23:56:08','RECUPERAR_CONTRASENA','ACTIVO',3,9),(3,'AFF475','2025-11-23 21:02:00.469560','2025-11-24 02:12:00','CONFIRMAR_CORREO','USADO',3,9);
/*!40000 ALTER TABLE `token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicacion`
--

DROP TABLE IF EXISTS `ubicacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ubicacion` (
  `id_ubicacion` bigint unsigned NOT NULL AUTO_INCREMENT,
  `latitud` decimal(10,8) NOT NULL,
  `longitud` decimal(11,8) NOT NULL,
  `direccion` varchar(255) NOT NULL,
  `nombre_sector` varchar(255) DEFAULT NULL,
  `voluntariado_id` bigint unsigned DEFAULT NULL,
  `ciudad_id` int unsigned NOT NULL,
  PRIMARY KEY (`id_ubicacion`),
  UNIQUE KEY `REL_12147e062864f573ccc855412b` (`voluntariado_id`),
  KEY `FK_14665d61ab9bc24cba42c2bfe29` (`ciudad_id`),
  CONSTRAINT `FK_12147e062864f573ccc855412be` FOREIGN KEY (`voluntariado_id`) REFERENCES `voluntariado` (`id_voluntariado`) ON DELETE CASCADE,
  CONSTRAINT `FK_14665d61ab9bc24cba42c2bfe29` FOREIGN KEY (`ciudad_id`) REFERENCES `ciudad` (`id_ciudad`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicacion`
--

LOCK TABLES `ubicacion` WRITE;
/*!40000 ALTER TABLE `ubicacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `ubicacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) DEFAULT NULL,
  `apellido` varchar(255) DEFAULT NULL,
  `correo` varchar(255) NOT NULL,
  `contrasena` varchar(255) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `rol` enum('ADMIN','VOLUNTARIO','CREADOR') NOT NULL,
  `estado` enum('ACTIVO','BLOQUEADO') NOT NULL DEFAULT 'ACTIVO',
  `verificado` tinyint NOT NULL DEFAULT '0',
  `url_imagen` varchar(255) DEFAULT NULL,
  `fecha_registro` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `correo_verificado` tinyint NOT NULL DEFAULT '0',
  `id_ciudad` int unsigned DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `IDX_349ecb64acc4355db443ca17cb` (`correo`),
  KEY `FK_464beee96b11124acb98bc50341` (`id_ciudad`),
  CONSTRAINT `FK_464beee96b11124acb98bc50341` FOREIGN KEY (`id_ciudad`) REFERENCES `ciudad` (`id_ciudad`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verificacion`
--

DROP TABLE IF EXISTS `verificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verificacion` (
  `id_verificacion` bigint NOT NULL AUTO_INCREMENT,
  `estado` enum('pendiente','verificado','rechazado') NOT NULL DEFAULT 'pendiente',
  `fecha_creacion` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `fecha_revision` datetime DEFAULT NULL,
  `observaciones` text,
  `admin_id` bigint unsigned DEFAULT NULL,
  `usuario_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_verificacion`),
  UNIQUE KEY `REL_c37f60b10bfc0188065cc620f7` (`usuario_id`),
  KEY `FK_6dace101e66b894fb2f7b5947b4` (`admin_id`),
  CONSTRAINT `FK_6dace101e66b894fb2f7b5947b4` FOREIGN KEY (`admin_id`) REFERENCES `administrador` (`id_usuario`) ON DELETE SET NULL,
  CONSTRAINT `FK_c37f60b10bfc0188065cc620f72` FOREIGN KEY (`usuario_id`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verificacion`
--

LOCK TABLES `verificacion` WRITE;
/*!40000 ALTER TABLE `verificacion` DISABLE KEYS */;
INSERT INTO `verificacion` VALUES (1,'verificado','2025-11-24 00:17:50.456000','2025-11-24 00:32:33',NULL,1,9);
/*!40000 ALTER TABLE `verificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verificacion_archivo`
--

DROP TABLE IF EXISTS `verificacion_archivo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verificacion_archivo` (
  `id_verificacion_archivo` bigint NOT NULL AUTO_INCREMENT,
  `tipo_documento` enum('Cedula De Ciudadania','Registro Unico Tributario') NOT NULL,
  `ruta_archivo` varchar(255) NOT NULL,
  `estado` enum('pendiente','aprobado','rechazado') NOT NULL DEFAULT 'pendiente',
  `comentario_admin` text,
  `fecha_revision` datetime DEFAULT NULL,
  `verificacion_id` bigint NOT NULL,
  PRIMARY KEY (`id_verificacion_archivo`),
  KEY `FK_df14c318a025da276c5f25de86b` (`verificacion_id`),
  CONSTRAINT `FK_df14c318a025da276c5f25de86b` FOREIGN KEY (`verificacion_id`) REFERENCES `verificacion` (`id_verificacion`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verificacion_archivo`
--

LOCK TABLES `verificacion_archivo` WRITE;
/*!40000 ALTER TABLE `verificacion_archivo` DISABLE KEYS */;
INSERT INTO `verificacion_archivo` VALUES (1,'Cedula De Ciudadania','/app/uploads/Verificaciones/9/Cedula De Ciudadania-1763943479412.pdf','aprobado',NULL,'2025-11-24 00:32:33',1),(2,'Registro Unico Tributario','/app/uploads/Verificaciones/9/Registro Unico Tributario-1763943550389.pdf','aprobado',NULL,'2025-11-24 00:32:30',1);
/*!40000 ALTER TABLE `verificacion_archivo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voluntariado`
--

DROP TABLE IF EXISTS `voluntariado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voluntariado` (
  `id_voluntariado` bigint unsigned NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) NOT NULL,
  `descripcion` text NOT NULL,
  `fechaHoraInicio` datetime NOT NULL,
  `fechaHoraFin` datetime NOT NULL,
  `horas` int unsigned NOT NULL,
  `maxParticipantes` int unsigned NOT NULL DEFAULT '10',
  `estado` enum('pendiente','en_proceso','terminado','cancelado') NOT NULL DEFAULT 'pendiente',
  `creador_id` bigint unsigned NOT NULL,
  `categoria_id` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_voluntariado`),
  KEY `FK_416dabc9497014c657057364fbc` (`creador_id`),
  KEY `FK_e5e77e945ef7016d823e33ea93f` (`categoria_id`),
  CONSTRAINT `FK_416dabc9497014c657057364fbc` FOREIGN KEY (`creador_id`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `FK_e5e77e945ef7016d823e33ea93f` FOREIGN KEY (`categoria_id`) REFERENCES `categoria` (`id_categoria`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voluntariado`
--

LOCK TABLES `voluntariado` WRITE;
/*!40000 ALTER TABLE `voluntariado` DISABLE KEYS */;
/*!40000 ALTER TABLE `voluntariado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `voluntario`
--

DROP TABLE IF EXISTS `voluntario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `voluntario` (
  `id_usuario` bigint unsigned NOT NULL,
  PRIMARY KEY (`id_usuario`),
  CONSTRAINT `FK_72c68c319e8737fba231c25d9ee` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `voluntario`
--

LOCK TABLES `voluntario` WRITE;
/*!40000 ALTER TABLE `voluntario` DISABLE KEYS */;
INSERT INTO `voluntario` VALUES (2),(3),(4),(5);
/*!40000 ALTER TABLE `voluntario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-23 22:07:57
