.creator-volunteer-layout {
  justify-content: center;
  width: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  background: var(--color-surface);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--color-primary);
  margin-top: -2px;
  padding: 1rem 2rem;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  box-sizing: border-box;
}

.creator-volunteer-layout::-webkit-scrollbar {
  display: none;
}

.creator-volunteer-layout>* {
  flex-shrink: 0;
}

.no-voluntariados-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  background: var(--color-surface);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--color-primary);
  margin-top: -2px;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  padding: 2rem;
  box-sizing: border-box;
}

.no-voluntariados-content {
  width: 100%;
  height: max-content;;
  align-content: start;
  display: flex;
  flex-wrap: wrap;
}

.no-voluntariados-title {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.no-voluntariados-description {
  font-size: 16px;
  color: var(--color-text);
  width: 100%;
  margin: 0;
  text-align: center;
}

@media (max-width: 480px) {
  .creator-volunteer-layout,
  .no-voluntariados-container {
    width: 100%;
    padding: 1rem;
  }
}