/* ---- Contenedor principal ---- */
.create-voluntariado-form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background: #f8fafc;
  min-height: 100vh;
}

.create-voluntariado-form {
  background: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 900px;
  border-radius: 14px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

/* ---- Layout ---- */
.form-row {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ---- Inputs ---- */
.register-form-label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #334155;
  margin-bottom: 6px;
}

.register-form-input[name="titulo"],
.register-form-input[name="ubicacion.direccion"],
.register-form-input[name="ubicacion.nombre_sector"] {
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 10px;
}

.form-group-text-area {
  margin-right: 2rem;
}



.register-form-input,
textarea,
input[type="number"],
input[type="datetime-local"] {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #fdfdfd;
  font-size: 0.95rem;
  transition: 0.2s;
}

.register-form-input[name="descripcion"] {
  resize: vertical;
  width: 100%;
}

.register-form-input:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

.register-form-input.error {
  border-color: #dc2626;
}

/* ---- Error Text ---- */
.error-text {
  font-size: 0.8rem;
  color: #dc2626;
  margin-top: 4px;
}



/* ---- Buttons ---- */
.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: .8rem;
  margin-top: 2rem;
}

.btn-submit {
  background: #2563eb;
  padding: .8rem 1.6rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-submit:hover {
  background: #1d4ed8;
}

.btn-cancel {
  background: #ef4444;
  padding: .8rem 1.4rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-cancel:hover {
  background: #dc2626;
}

.fecha-picker-wrapper {
  margin-top: 1.2rem;
  width: 100%
    /* o la medida que necesites */
}




/* ---- Responsive ---- */
@media (max-width: 768px) {
  .create-voluntariado-form {
    padding: 1.2rem;
  }
}

/* ---- Responsive ---- */
@media (max-width: 768px) {
  .create-voluntariado-form {
    padding: 1.2rem;
  }

  .form-group .fecha-picker-wrapper {
    width: 100% !important;
    margin-top: 0;
  }


}

/* ---- Responsive ---- */
@media (max-width: 717px) {
  .form-group {
    flex: initial;
    width: 100%;
  }

  .form-group-text-area {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .form-group-text-area {
    width: 84%;
  }

}