.creator-inscription-layout {
  flex: 1;
  justify-content: start;
  width: 80%;
  overflow-y: auto;
  scrollbar-width: none;
  background: var(--color-surface);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--color-primary);
  margin-top: -2px;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  padding: 2rem;
  box-sizing: border-box;
}


.creator-inscription-layout::-webkit-scrollbar {
  display: none;
}
.no-inscripciones-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  background: var(--color-surface);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
  border: 2px solid var(--color-primary);
  margin-top: -2px;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  padding: 2rem;
  box-sizing: border-box;
}
.no-inscripciones-content {
  width: 100%;
  height: max-content;;
  align-content: start;
  display: flex;
  flex-wrap: wrap;
}

.no-inscripciones-title {
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

.no-inscripciones-description {
  font-size: 16px;
  color: var(--color-text);
  width: 100%;
  margin: 0;
  text-align: center;
}