.creator-inscription-page {
    height: calc(100vh - 6vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
    box-sizing: border-box;
    overflow: hidden; 
}

.header-inscripcion-page {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-back {
    position: absolute;
    left: 0;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-back:hover {
    background-color: #2563eb;
    transform: translateY(-1px);
}

.back-text {
  display: inline;
}

@media (max-width: 600px) {
  .back-text {
    display: none; /* oculta el texto */
  }

  .btn-back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    font-size: 1.3rem;
    padding: 0;
  }
}


.creator-inscription-page-title {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: clamp(1.5rem, 8vw, 2.5rem);
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 2rem;
    letter-spacing: 1px;
    position: relative;
    opacity: 0;
    transform: translateY(-5px);
    animation: fadeInDown 0.6s ease forwards;
    flex-shrink: 1; /* permite que el título se reduzca si hace falta */
    word-break: break-word; /* evita overflow */
    overflow-wrap: anywhere; /* fuerza el corte de palabras largas */
}

.creator-inscription-page-title::after {
    content: "";
    display: block;
    width: 25%; /* proporcional al título */
    max-width: 40px; /* límite máximo */
    height: 2px;
    background-color: #000;
    margin: 0.3rem auto 0;
    border-radius: 2px;
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .creator-inscription-page-title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .creator-inscription-page-title::after {
        width: 30px;
        height: 2px;
    }
}

@media screen and (max-width: 480px) {
    .creator-inscription-page-title {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .creator-inscription-page-title::after {
        width: 25px;
        height: 2px;
    }
}