
.volunteer-inscription-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: none;
  min-height: 200px;
}
.volunteer-no-inscripciones-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow-y: auto;
  scrollbar-width: none;
  margin-top: -2px;
  border-radius: 0 0 var(--radius-large) var(--radius-large);
  padding: 2rem;
  box-sizing: border-box;
}

.volunteer-inscription-layout::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .volunteer-inscription-layout {
    gap: 1.2rem 0.7rem;
    padding: 1rem 0.2rem;
  }
}

@media (max-width: 600px) {
  .volunteer-inscription-layout {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    padding: 0.5rem 0;
       
  }
}

