.profile-logout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-logout-button {
    width: 90%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-medium);
    border: none;
    background: var(--red-button);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.profile-logout-button:hover {
    background: #d43737;
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
}

.profile-logout-button:active {
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
